h1 {
    font-family: arial, "Times New Roman", Times, serif;
    color: black;
    size: 18;
}

body {
    margin-left:20px;
    font-family: arial, "Times New Roman", Times, serif;
    color: black;
    size: 12;
  }