
.header {
    width:100%;
    top:0;
    min-height:50px;
    color:white;
    background-color: black;
    font-size: large
}

.break {
    width:100%;
    top:0px;
    min-height:50px;
    background-color: white;
    overflow: visible;
}

button {
    border:none;
    border-radius: 12px;
    height:70px; 
    width:200px;
    position:relative;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    background-color: lightgrey;
    /*color: white;*/
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, -1px, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}