.circle>svg:not(:root) {
    overflow: visible;
}

div {
    font-family: 'Roboto', serif;
}

.header {
    width:100%;
    top:0;
    min-height:50px;
    font-size: 30px
}

.sub-header {
    font-size:20px;
}

.quote {
    margin-left: 40px ;
}

div.circle {
    transition: all 1000ms ;
}

.break {
     width:100%;
     top:0px;
     min-height:50px;
     background-color: white;
     overflow: visible;
 }

.large-break {
    width:100%;
    top:0px;
    min-height:100px;
    overflow: visible;
}

.small-break {
    width:100%;
    top:0px;
    min-height:30px;
    overflow: visible;
}

.button {
    height:70px;
    width:100%;
    position:relative;
    border-radius: 12px;
}

button:hover {
    background-color: lightgrey;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
}

