.circle>svg:not(:root) {
    overflow: visible;
}

div {
    font-family: 'Roboto', serif;
}

.header {
    width:100%;
    top:0;
    min-height:50px;
    font-size: large
}

.break {
     width:100%;
     top:0px;
     min-height:50px;
     background-color: white;
     overflow: visible;
 }

.large-break {
    width:100%;
    top:0px;
    min-height:100px;
    overflow: visible;
}

.small-break {
    width:100%;
    top:0px;
    min-height:30px;
    overflow: visible;
}

.button {
    border:2px;
    border-radius:12px;
}

button {
    height:70px;
    width:200px;
    position:relative;

}

button:hover {
    background-color: lightgrey;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}


