
.header {
    width:100%;
    top:0;
    min-height:50px;
    color:white;
    background-color: black;
    font-size: large
}

.break {
    width:100%;
    top:0px;
    min-height:50px;
    background-color: white;
    overflow: visible;
}

div > div {
    text-align: left;
}


svg {
    display: block;
    margin: 0 auto;
    position: fixed;
    right: calc(50% - 24px);
    left: calc(50% - 24px);
}

div > div > div:hover {
    font-weight:bolder;
}

.arcGii {
    transition: .3s;
}

.arcGini {
    transition: .3s;
}

.foreground {
    transition: .3s;
}